<div class="cadre-corps">
  <h1 class="title">Mes listes de films</h1>
</div>

<div class="cadre-card">
  <div class="logo-star-center">
    <i class="fa-regular fa-star logo-star"></i>
  </div>

  <h2 class="title-h2">Choisir une catégorie</h2>

  <div class="cards">
    <% @lists.each do |list| %>
      <div class="cardo">
        <h3><%= link_to list.name, list_path(list), class: "title-card" %></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    <% end %>
  </div>

</div>
