<div class="cadre-form">
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name, label: false, placeholder: "coucou" %>
  <%= f.button :submit, label: "hello", class: "btn-grad-black" %>
<% end %>
</div>
