// Specific CSS for your home-page
body {
  background-color: rgb(234, 234, 234);
}

.cadre-corps {
  border-right: solid #000000;
  border-left: solid #000000;
  border-bottom: solid #000000;
  background: linear-gradient(rgb(234, 234, 234), #ffa0ab);
  padding: 200px;
}

.cadre-card {
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #000000;

}

.signature {
  text-align: center;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 50px;
    text-align: center;
  }
  .cadre-corps {
    padding: 150px;
  }
  .cadre-form {
    padding: 100px;
  }
  h1 {
    font-size: 25px;
  }
  .btn-grad-black {
    padding: 11px 15px;
  }
}

@media(max-width: 490px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 50px;
    text-align: center;
  }
  .cadre-corps {
    padding: 100px;
  }

}

@media(max-width: 425px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 50px;
    text-align: center;
  }
  .cadre-corps {
    padding: 100px;
  }

  .btn-nav-black {
    margin: 0px;
  }

  .btn-nav {
    margin: 0px;
  }
}

@media(max-width: 380px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 50px;
    text-align: center;
  }
  .cadre-corps {
    padding: 100px;
  }

  .btn-nav-black {
    margin: 0px;
    padding: 15px 4px;
  }

  .btn-nav {
    margin: 8px;
    padding: 15px 4px;
  }
}

@media(max-width: 370px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 50px;
    text-align: center;
  }
  .cadre-corps {
    padding: 100px;
  }

  .btn-nav-black {
    margin: 0px;
    padding: 15px 4px;
  }

  .btn-nav {
    margin: 8px;
    padding: 15px 4px;
  }
  .navbar {
    height: 50px;
  }
  .navbar > p {
    transform: scale(0.5);
  }
  .logo{
    font-size: 20px;
  }
}

@media(max-width: 320px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 25px;
    text-align: center;
  }

  .title-categ {
    font-size: 25px;
    text-align: center;
  }

  .cadre-form {
    padding: 30px;
  }

  .title-h2 {
    font-size: 25px;
  }
  .cadre-corps {
    padding: 80px;
  }
  .btn-nav-black {
    margin: 0px;
    padding: 15px 4px;
  }

  .btn-nav {
    margin: 8px;
    padding: 15px 4px;
  }
  .navbar {
    height: 50px;
  }
  .navbar > p {
    transform: scale(0.5);
  }

  .logo{
    font-size: 20px;
  }
}
