.cadre-form {
  border-right: solid #000000;
  border-left: solid #000000;
  border-bottom: solid #000000;
  padding: 200px;
  background: linear-gradient(rgb(234, 234, 234), #bfe9ff);
  margin-bottom: 10px;
}
