.logo{
  font-size: 40px;
  flex-grow: 1;
  margin-left: 20px;
  color: #ff6e7f;
}

.logo-star{
  font-size: 40px;
  display: flex;
  color: #000000;
  margin-top: 50px;
}

.logo-star-center{
  display: flex;
  justify-content: center;
}
